.chatbox {
    margin-right: 10px;
    width: 300px;
    position: fixed;
}

.chatboxhead {
    background-color: #E34F54;
    padding: 7px;
    color: #ffffff;

    border-right: 1px solid #E34F54;
    border-left: 1px solid #E34F54;
}

.chatboxblink {
    /*background-color: #176689;*/
    background-color: #6992FC;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #333333;
    height: 200px;
    width: 300px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 7px;
    border-left: 1px solid #F6E5CB;
    border-right: 1px solid #F6E5CB;
    border-bottom: 1px solid #F6E5CB;
    background-color: #F6E5CB;
    line-height: 1.3em;
}

.chatboxinput {
    padding: 5px;
    background-color: #F3DCBA;
    border-left: 1px solid #F3DCBA;
    border-right: 1px solid #F3DCBA;
    border-bottom: 1px solid #F3DCBA;
}

.chatboxtextarea {
    width: 286px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #0066FF;
    margin: 1px;
    overflow: hidden;
}

.chatboxtextareaselected {
    border: 2px solid #ACC9FD;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxmessagefrom {
    margin-left: -1em;
    font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    margin-right: 10px;
}

.chatboxtitle {
    float: left;
    font-size: 13px;
}

.chatboxhead {
    /*cursor:move !important;*/
}

