body {
  /*font-family: Arial,Verdana,Helvetica,sans-serif;*/
  font-family: Century;
  font-size: 15px;
  color: #470B14;
  background: #470B14;
  margin-top: 20px;
}

a{color:#08c;outline-style:none;cursor:pointer}
a:link, a:visited{text-decoration:none}
a:hover, a:active{color:#F24C9E; text-decoration:underline; text-shadow:0 0 5px #fff,0 0 8px rgba(255,255,255,.6)}

.limelight {
  font-family: Limelight;
}

h1 {
  font-family: Limelight;
  color: #E34F54;
}

h2 {
  color: #470B14;
}

.page-header {
  text-align: center;
}

/*I'm sorry for this*/
.navbar-default .navbar-nav li a {
  color: #470B14;
}

.table tbody tr td {
  border-top: 1px solid #EAC385;
}

